
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Importing google font  */

html, body {
	margin: 0; /*remove any border*/
	font-family: 'Muli', sans-serif;
	height: 100%;
}
.headerbg{
	background-image: url('../img/bg.png');/* "../" -->to escape current folder "CSS" and go back to root folder where img folder reside.*/
	background-size: cover; /*Resize the background image to cover the entire container,*/
	color: white; /*same color:#FFF;*/
	padding: 5%;
	height: 100%

}
.imgright {
	width: 50%;
}

.logo {
	width: 100%
	margin-top: 35%;
}
.carousel-inner img {
	margin: auto;
}
h3{
	color: #633991;
	font-size: 55px;
	font-weight: 500;
	color:#161616;

}
.gallery {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left:20px;
	padding-right:20px;
}
.card {
	margin: 0 auto; /* Will align to center*/
	floot: non; /*will not float to right or left*/
	margin-bottom: 10px;
	  }
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59); /* css drop shadow
 */
}


.footer{
	background: #FF5F6D;
	padding-top: 40px;
	padding-bottom:  40px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	color:#fff;
}
.footer button {
	background: #fff;
	color: #fc3232;
	height: 60px;
	padding: 10px;
	width: 80%;
	/*make border rounded,ned to do it for all browsers*/
	border-radius: 80px 80px 80px 80px;
	-moz-border-radius: 80px 80px 80px 80px;
	-webkit-border-radius: 80px 80px 80px 80px;
	margin-top:5%;
	border:none;
}
.footer button:hover{ /*no space after coln :   */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background: #000; /*back background*/
	color: #fff;  /* white color*/

}
.footerbrand {
	background: #181818;
	padding: 40px;

}
.logofooter{
	width: 200px;
}
.features{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left:20px;
	padding-right:20px;
}